<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }} !
  </h1>
  <img width="300" alt="Angular Logo" src="../assets/images/jesus.jpg">
</div>

<div class="container"> <br />
  <div class="row">
    <div class="col-md-12">
      <h2>Upload to IFPS</h2>
    <div class="panel panel-default">
      <div class="panel-heading"><strong></strong> <small> </small></div>
      <div class="panel-body">
        <div class="input-group image-preview">
          <input placeholder="" type="text" class="form-control image-preview-filename" disabled="disabled">
          <!-- don't give a name === doesn't send on POST/GET --> 
          <span class="input-group-btn"> 
          <!-- image-preview-clear button -->
          <button type="button" class="btn btn-default image-preview-clear" style="display:none;"> <span class="glyphicon glyphicon-remove"></span> Clear </button>
          <!-- image-preview-input -->
          <div class="btn btn-default image-preview-input"> <span class="glyphicon glyphicon-folder-open"></span> <span class="image-preview-input-title">Browse</span>
            <input type="file" accept="image/png, image/jpeg, image/gif" name="input-file-preview"/>
            <!-- rename it --> 
          </div>
          <button type="button" class="btn btn-labeled btn-primary"> <span class="btn-label"><i class="glyphicon glyphicon-upload"></i> </span>Upload</button>
          </span> </div>
          <br />
          <br />
          <br />
        </div>
      </div>
    </div>
  </div>
  <!-- DOWNLAOD -->
  <div class="row">
      <div class="col-md-12">
        <h2>Download file from IFPS</h2>
      <div class="panel panel-default">
        <div class="panel-heading"><strong>Upload files</strong> <small> </small></div>
        <div class="panel-body">
          <div class="input-group image-preview">
            <input placeholder="Pitcure Hash" type="text" class="form-control image-preview-filename" >
            <!-- don't give a name === doesn't send on POST/GET --> 
            <span class="input-group-btn"> 
            <!-- image-preview-clear button -->
            <button type="button" class="btn btn-default image-preview-clear" style="display:none;"> <span class="glyphicon glyphicon-remove"></span> Clear </button>
           
            <button type="button" class="btn btn-labeled btn-primary"> <span class="btn-label"><i class="glyphicon glyphicon-upload"></i> </span>Download</button>
            </span> </div>
            <br />
            <br />
            <br />
          </div>
        </div>
      </div>
    </div>
</div>


